{#
/**
 * Socializer plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2019 Enupal LLC
 */

#}
{% import "_includes/forms" as forms %}
{% extends "enupal-socializer/_layouts/elementindex" %}
{% set title = "Providers"|t %}
{% set elementType = 'enupal\\socializer\\elements\\Provider' %}
{% block actionButton %}
    {% set options = craft.socializer.getProvidersAsOptions() %}
    {% if options|length %}
        <div class="flex">
            <form id="createProviderForm" method="POST">
                {{ forms.selectField({
                    id: 'providerType',
                    name: 'providerType',
                    class: 'providerType',
                    options: options,
                    value: ""
                }) }}
                {{ csrfInput() }}
                <input type="hidden" name="action" value="enupal-socializer/providers/edit-provider">
            </form>
        </div>
        <div class="flex">
            <a id="add-new-provider" class="btn submit add icon" href="{{ url('enupal-socializer/providers/new') }}">{{ "New Provider"|t('enupal-socializer') }}</a>
        </div>
    {% endif %}
{% endblock %}

{% js %}
    $(document).ready(function() {
        $("#add-new-provider").on('click', function(){
            event.preventDefault();
            $("#createProviderForm").submit();
        });
    });
{% endjs %}
{% css %}
    #providerType-field{
        padding-top: 23px;
    }
{% endcss %}