{#
/**
 * Socializer plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2019 Enupal LLC
 */

#}
{% import "_includes/forms" as forms %}
{% extends "enupal-socializer/_layouts/elementindex" %}
{% set title = "Providers"|t %}
{% set elementType = 'enupal\\socializer\\elements\\Provider' %}
{% block actionButton %}
    {{ forms.selectField({
        id: 'type',
        name: 'type',
        options: [{ label: "facebook", value: "facebook"}, {label: "twitter", value: "twitter"}],
        value: ""
    }) }}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('enupal-socializer/providers/new') }}">{{ "New Provider"|t('enupal-socializer') }}</a>
    </div>
{% endblock %}
